<div class="footer__inner">
        <div class="footer__row">
            <!-- Footer Cplumn 1 -->
            <div class="footer__col">
                <h3 class="footer__heading">SHOP
                </h3>
                    <ul class="footer__list">
                        <li>
                            <p class="footer__label">By Category</p>
                            <a href="#!" class="footer__link">Shop Home</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Mens</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Wonmens</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Kids</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Classics</a>
                        </li>
                    </ul>
            </div>
             <!-- Footer Cplumn 2 -->
             <div class="footer__col">
                <h3 class="footer__heading">SPORTS
                </h3>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__link">Skate</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Surf</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Wonmen's Surf</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Snow</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">BMX</a>
                        </li>
                    </ul>
            </div>
             <!-- Footer Cplumn 3 -->
             <div class="footer__col">
                 <h3 class="footer__heading">SUPPORT
                </h3>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__link">Store Locator</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Order Status</a>
                        </li>
                    </ul>
            </div>
             <!-- Footer Cplumn 4 -->
             <div class="footer__col">
                <h3 class="footer__heading">COMPANY
                </h3>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__link">Customer Service</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Terms of Use</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Privacy</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Careers</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">About</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">CA Supply Chains Act</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Sustainability</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Affiliates</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Recall Info</a>
                        </li>
                    </ul>
            </div>
             <!-- Footer Cplumn 4 -->
             <div class="footer__col">
                <h3 class="footer__heading">CONTACT
                </h3>
                    <ul class="footer__list">
                        <li>
                           <p class="footer__label">Email</p>
                           <a href="#!" class="footer__link">Contact Us</a>
                        </li>
                        <li>
                           <p class="footer__label">Telephone</p>
                           <a href="#!" class="footer__link">855-909-8267</a>
                        </li>
                        <li>
                            <p class="footer__label">Address</p>
                            <p class="footer__text">No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City. Hanoi</p>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Hours</a>
                            <p class="footer__text"> M - F 08:00 AM - 06:00 PM</p>
                        </li>
                    </ul>
            </div>
        </div>
</div>