@use "../abstrcats";
.auth{
    min-height: 100vh;
    display: flex;
    &__intro, 
    &__content
    {
        flex: 1;
    }
    &__intro{
        position: relative;
        padding: 0px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: var(--auth-intro-bg-color);
        overflow-x: hidden;
        &-logo,
        &-next{  
            position: absolute;
            left: 50%;
            translate: -50%;
        }
        &-logo{
            top: 50px;
        }
        &-next{
            bottom: 50px;
        }
        &-text{
            margin-top: 49px;
            width: 412px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.44%;
            text-align: center;
            color: var(--auth-text-color);
            @include abstrcats.screen(md){
                font-size: 1.5rem;
                width: 305px;
             }
        }
        &-img{
             max-width: 100%;
             @include abstrcats.screen(md){
                width: min(370px, 100%);
             }
        }
    }
    &__content{
        padding: 50px 30px;
        background: var(--auth-bg-color);
        @include abstrcats.screen(md){
            position: fixed;
            inset: 0;
            z-index: 1;
            translate: 0%;
            transition:  translate .3s;
            overflow-y: auto;
            overflow-x: hidden;
            &.hide{
               translate:100%;
            }
        }
        &-inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            // dung min để trên kích thước nhỏ trên mobile ko bị hiện thanh cuộn ngang
            width: min(460px , 100%);
            margin: 0 auto;
        }
    }
    &__heading{
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.66%;
        color:var(--auth-heading-color);
        @include abstrcats.screen(md){
            font-size: 2.2rem;
         }
   }
   &__desc{
       width: 415px;
       margin-top: 10px;
       font-size: 1.5rem;
       font-weight: 500;
       line-height: 146.66%;
       color: #9E9DA8;
       @include abstrcats.screen(md){
        font-size: 1.4rem;
        width: 272px;
     }
   }
   &__form{
    width: 100%;
    margin-top: 60px;
   }
   &__text{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 108px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 144.44%;
    color: #9E9DA8;
    @include abstrcats.screen(md){
        font-size: 1.6rem;
     }
   }
   &__link{
       font-size: 1.8rem;
       font-weight: 500;
       line-height: 144.44%;
       color: #0071DC;
       @include abstrcats.screen(md){
        font-size: 1.6rem;
     }
   }
}
