@use "../abstrcats";
// Home Page
.home{
    &__container{
        margin-top: 40px;
    }
    @include abstrcats.screen(md){
       margin-top: 30px;
   }
   &__heading{ 
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 141.66%;
      color:var(--text-color);

      @include abstrcats.screen(xxl){
        margin-bottom: 20px;
     }
     @include abstrcats.screen(lg){
        margin-bottom: 0px;
     }
   }
   &__cate{
    --grid-gutter-x:51px;
    margin-bottom: 20px;
    @include abstrcats.screen(xxl){
        --grid-gutter-x:30px;
    }
     @include abstrcats.screen(lg){
        margin-bottom: 20px;
        margin-top: 20px;
      }
    @include abstrcats.screen(md){
        --grid-gutter-y:30px;
        margin-top: 0px;
       }
   }
   &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
   //  margin-bottom: 20px;
    @include abstrcats.screen(lg){
       margin-bottom: 0px;
    }
   }
}