html.dark {
    --text-color:#fff;
    --icon-color: brightness(0) saturate(100%) invert(98%) sepia(7%) saturate(590%) hue-rotate(194deg) brightness(118%) contrast(100%);
    --header-bg-color: #171C28;
    --body-bg-color:#292E39;
    --top-act-grounp-bg-color:#292E39;
    --top-act-grounp-shadow: rgba(0,0,0,0.2);
    --top-act-grounp-separate:#fff;
}