@use "../abstrcats";
html.dark {
    --text-color:#fff;
    --icon-color: brightness(0) saturate(100%) invert(98%) sepia(7%) saturate(590%) hue-rotate(194deg) brightness(118%) contrast(100%);
    --header-bg-color: #171C28;
    --body-bg-color:#292E39;
    --top-act-grounp-bg-color:#292E39;
    --top-act-grounp-shadow: rgba(0,0,0,0.2);
    --top-act-grounp-separate:#fff;

    @include abstrcats.screen(lg){
        --header-shadow-color: 0px 20px 60px 10px #00000033;
        ;

    }


    // Dropdown
    --dropdown-bg-color:#30343d;
    --dropdown-shadow-color:0px 40px 90px 20px #171C2866;
    --dropdown-arrow-color:brightness(0) saturate(100%) invert(15%) sepia(5%) saturate(2153%) hue-rotate(184deg) brightness(99%) contrast(85%);
    --top-menu-border-color:#171C28;
     //menu-column
    --menu-column-icon-2-color:brightness(0) saturate(100%) invert(96%) sepia(6%) saturate(791%) hue-rotate(72deg) brightness(108%) contrast(94%);
    //menu-column__content
    --menu-column__heading-color:#B9BABE;
     //menu-column__list--link
     --menu-column--list--link-color:#B9BABE;
     //Sidebar
     --sidebar-bg:#292E39;
     --slidebar-shadow: 0px 40px 90px 20px #171C2866;
      //Category Item
     --cate-item-bg:#292E39;
     --cate-item-thumb-bg:#171C28;
     --cate-title-color:#FFFFFF;
     --cate-item-desc-color:#fff;
     --cate-item-bg-md-color:#171C28;
} 