@use "../abstrcats";

html {
    --text-color:#1A162E;
    --icon-color: brightness(0) saturate(100%) invert(6%) sepia(32%) saturate(2861%) hue-rotate(228deg) brightness(92%) contrast(93%);;
    --header-bg-color:#eee;
    // footer 
    --footer-bg-color:var(--header-bg-color);
    --body-bg-color:#f6f6f6;
    --top-act-grounp-bg-color:#bbb8b81c;
    --top-act-grounp-shadow: rgba(237, 237, 246, 0.2);
    --top-act-grounp-separate:#383839;
    @include abstrcats.screen(lg){
        --header-bg-color:#fff;
        --header-shadow-color:0px 20px 60px 10px #EDEDF633;

    }

    // Dropdown
    --dropdown-bg-color:#fff;
    --dropdown-shadow-color:#C8C8C866;
    --top-menu-border-color:#D2D1D6;
    //menu-column
    --menu-column-icon-2-color: brightness(0) saturate(100%) invert(8%) sepia(20%) saturate(1820%) hue-rotate(210deg) brightness(99%) contrast(96%);
    //menu-column__content
    --menu-column__heading-color:#1A162E;
    //menu-column__list--link
    --menu-column--list--link-color:#1A162E;
    //Sidebar
    --sidebar-bg:#fff;
    --slidebar-shadow: 0px 40px 90px 20px #C8C8C866;
    //Category Item
    --cate-item-bg:#eee;
    --cate-item-thumb-bg:#fff;
    --cate-title-color:#000000;
    --cate-item-desc-color:#1A162E;
    --cate-item-bg-md-color:#fff;
    //Filter Button
    --filter-button-color:#6C6C72;
    --filter-button-bg-color:#FFFFFF;
    --like-btn-shadow:rgba(124, 124, 124, 0.2);
    // Product Card
    --product-card-bg-color:#fff;
    --product-card-shadow-color:0px 20px 60px 10px #EDEDF633;
    --product-card-title-color:#1A162E;
    --product-card-brand-color:#9E9DA8;
    --product-card-price-color:#1A162E;
    // Filter Form
    --filter-form-bg:#fff;
    --form-check-color:#fff;
    --form-check-bg:rgb(242, 242, 23);
    --filter-form-shadow:0px 40px 90px 20px #C8C8C866;
    --filter-form-tag-bg:#F8F8FB;
    // Auth 
    --auth-bg-color: #fff;
    --auth-heading-color:#1A162E;
    @include abstrcats.screen(md){
        --auth-intro-bg-color:#fff;
    }
    }