// Filter Button
.filter-btn{
    display: flex;
    align-items: center;    
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.85%;
    height: 36px;
    color: var(--filter-button-color);
    gap: 14px;
    border-radius: 6px;
    background: var(--filter-button-bg-color);
    padding: 0 14px;
}
// Like-btn
.like-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 20px 60px var(--like-btn-shadow);
    filter: var(--icon-color);
}