@use "../abstrcats";
.dropdown{
    width: min(1240px, 100%);
    display: none;
    position: absolute;
    // định vị sát sang bên trái 
    left: 0;    
    padding-top: 54px;
    @include abstrcats.breakpoint(lg){
        position: initial;
        display: block;   
        padding-top: 0;
   }
    &__inner{
        // tao bien 
        --inner-max-height:min(582px , 100vh - 158px);
        --inner-padding:30px;
        position: relative;
        border-radius: 20px;
        // chieu cao toi da
        max-height:var(--inner-max-height);
        padding: var(--inner-padding);
        background:var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);    
        &::before{
            position: absolute;
            content: url("../icons/dropdown-arrow.svg");
            top: -10px;
            filter: var( --dropdown-arrow-color);
            // sử dụng biến js để css cho left
            left: var(--arrow-left-pos);
            translate: -50%;
        } 
        @include abstrcats.breakpoint(lg){
             max-height: none;
             background:transparent;
             box-shadow: none;
             padding: 0 40px;
             &::before{
                 content: none;
             }
        } 
    }
}
// Top-Menu
.top-menu{
    // chu di chieu tren duoi 30px cua inner 
    --max-height: calc(var(--inner-max-height) - var(--inner-padding)*2);
    // dinh vi cho sub-menu
    position: relative;
    // tao bien ke thua
    --main-column-width: 292px;
    @include abstrcats.breakpoint(lg){
        max-height: none;
   } 
    &__main{
        width: var(--main-column-width);
        height: var(--max-height);
        border-right: 1px solid var(--top-menu-border-color);
        // khi muon xuat hien thanh cuon thi chieu cao phai de tuyet doi hon
        overflow-y: auto;
        @include abstrcats.breakpoint(lg){
            width: 100%;
            height: auto;
            border-right: none;
       }
    }
}
.menu-column{
    display: flex;
    gap: 14px;
    @include abstrcats.breakpoint(lg){
       margin-top: 10px;
   }
    // muenu-column dang sau lien ke 
    + .menu-column{
        margin-top: 22px;
    }
   &__icon{
    position: relative;
    // su dung flex-shrink de ko lam meo anh 
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    @include abstrcats.breakpoint(xl){
        display: none;
    }
    @include abstrcats.breakpoint(lg){
    display: block;
    }
}
   &__content{
    // su dung flex :1 de chiem het do rong con lai
    flex: 1;
   }
   &__icon-1{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
&__icon-2{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    object-fit: contain;
    filter: var(--menu-column-icon-2-color);

   }
   &__heading{
     margin-top: 6px;
     font-weight: 500;
     font-size: 1.6rem;
     line-height: 150%;
     color: var(--menu-column__heading-color);
     @include abstrcats.breakpoint(lg){
        margin-bottom: 26px;
    }
   }
   &__list{
        margin-top: 13px;
        @include abstrcats.breakpoint(xl){
            margin-top: 0   ;
       }
   }
   &__items{
     &--active .sub-menu{
        display: grid;
     }
   }
   &__items--active > &__list--link,
   // tác động the list--link ở cấp 1 
   &__items:hover  > &__list--link{
       font-weight: 500;
       color: #0071DC;
}
   &__list--link{
    display: block;
    padding: 7px 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 143%;
    color: var(--menu-column--list--link-color);
    &:hover{
        font-weight: 500;
        color: #0071DC;
    }
}
}
.sub-menu{
    display: none;
    grid-template-columns: repeat(3,1fr);
    column-gap: var(--inner-padding);
    position: absolute;
    // top 0 bootom o va right 0 su dung gia tri tuyet doi
    inset: 0 0 0 var(--main-column-width);
    padding-left: var(--inner-padding);
    overflow-y: auto;
    @include abstrcats.breakpoint(lg){
       position:initial;
       grid-template-columns: 1fr;
       padding-left: 0;
    }
    // Sub-menu--not-main
    &--not-main{
        display: grid;
        //  initial giá trị khởi tạo
        position: initial;
        // initial giá trị khởi tạo
        inset: initial;
        // tao 4 cot
        grid-template-columns: repeat(4,1fr);
        height:  calc(var(--inner-max-height) - var(--inner-padding)*2);
        padding-left: 0;
        @include abstrcats.breakpoint(lg){
            grid-template-columns: 1fr;
            height: auto;
         }
    }
}