.form{
    &:has(:invalid) &__submit-btn{
        opacity: 0.5;
        pointer-events: none;
    }
    &__group{
        margin-top: 30px;
        &--input{
            display: flex;
            align-items: center;
        }
    }
    // form group co 1 thanh phan ben trong ko hop le thi tac dong vao texxt-input
    &__group:has(:invalid):has(&__input:not(:placeholder-shown)){
        .form__text-input{
            border-color: red;
            background: rgba($color: red, $alpha: 0.1);
        }
        .form__input-icon{
            display: none;
        }
        .form__error,
        .form__input-icon--error{
            display: block;
        }
    }
    &__text-input{
        display: flex;
        align-items: center;
        padding: 0 12px;
        height: 50px;
        border: 1px solid #D2D1D6;
        border-radius: 10px;
        &:focus-within{
            border-color:rgb(148, 227, 247);
        }
    }
    &__input{
        flex: 1;
        height: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.44%;
        &::placeholder{
            color: #D2D1D6;
        }
    }
    &__error{
        display: none;
        text-align: left;
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 500;
        color: red;
    }
    &__input-icon{
        margin-left: 12px;
        &--error{
            display: none;
            margin-left: 12px;
            width: 24px;
            height: 24px;
            animation: shake 0.8s;
        }
    }
    &__pull-right{
        margin-left: auto;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.66%;
        color:#0071DC;
    }
    &__checkbox{
        display: flex;
        align-items: center;
        gap: 10px;
        // sử dụng user-select none để khi người dùng quyệt vào thì sẽ ko hiện vệt xanh
        user-select: none;
            position: relative;
            &::before,
            &::after{
                position: absolute;
                content: "";
            }
            &::before{
                width: 19px;
                height: 19px;
                border-radius: 5px;
                border: 1.5px solid #9e9da8;
            }
            &::after{
                width: 15px;
                height: 9px;
                border: 3px solid;
                border-color: transparent transparent #fff #fff;
                rotate: -45deg;
                left: 2px;
                top: 4px;
            }
            &:has(:checked) {
                &::before{
                    border-color:rgb(242, 242, 23) ;
                    background: rgb(242, 242, 23);
                }
            }
        &-label{
            margin-left: 29px;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.66%;
            color: #9E9DA8;
        }
    }
    &__btn,&__btn-outline{
        width: 100%;
        justify-content: center;
    }
    &__btn-outline{
        gap: 10px;
        margin-top: 30px;
        margin-left: 0 !important;
        color: var(--form-btn-outline-color);
    }
    &__icon{
        filter: var(--auth-icon-color);
    }
}