//RESET CSS
@use "../abstrcats";
*,
::after,
::before{
     box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: Gordita,sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg-color);
}
a
{
    color: inherit;
    text-decoration: none;
}
button{
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}
// reset 4 the 
a,img,button, input, template, select{
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
    // tắt đi hiệu ứng hightnight mặc định của thẻ a và img trên mobile và taplat
    -webkit-tap-highlight-color: transparent;
}
input{
    background: transparent;
}
.icon{
    filter: var(--icon-color);
}
//END RETSET CSS
.container{
    @include abstrcats.screen(sm){
        padding-left: 20px !important;
        padding-rightx  : 20px !important;
    }
}
